.intro__list {
  list-style: none;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
  max-width: 100%;
  margin-top: 33px;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    max-width: 93.75%;
    margin: 33px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    max-width: 90%;
  }
}
