.header {
  max-width: 92.5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px auto 0;
  padding: 0;
  box-sizing: content-box;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin: 16px auto 0;
    align-items: center;
  }
}
