.place__website {
  max-width: 456px;
  padding: 0;
  align-self: end;
}

@media (min-width: 376px) and (max-width: 767px) {
  .place__website {
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 288px;
    width: 100%;
    margin: 0 auto;
  }
}
